body {
    background-color: #908D8D;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
}

#contact{
    background-color: aliceblue;
}

.card-img-top {
    max-height: 180px;
}